<div class="login-form-container">
    <i class="fas fa-times form-close" id="form-close"></i>
    <form class="login-form" id="login-form">
        <h3>login</h3>
        <input type="email" name="email" id="userEmail" class="box" placeholder="enter your email...">
        <div class="error email"></div>
        <input type="password" name="password" id="password" class="box" placeholder="enter your password...">
        <div class="error password"></div>
        <input type="submit" value="login now" class="btn">
        <input type="checkbox" name="remember" id="remember">
        <label for="remember">remember me</label>
        <p>forget password <a href="/forgot-password">click here</a></p>
        <p>don't have an account? <a href="/register">register now</a></p>
    </form>
</div>
